body {
	background-color: #fff !important;
}
.App {
	margin: 30px 0px;
	text-align: center;
}
.card-container {
	gap: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	border: 1px solid white !important;
	box-shadow: 6px 1px 15px;
	border-radius: 25px !important;
	min-width: 290px !important;
}
.list {
	line-height: 40px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.check,
.cross {
	margin-right: 15px;
}
.card-price {
	font-size: 3rem;
}
.period {
	font-size: 0.8rem;
}
.btn {
	background-color: #fff;
	width: 250px;
	border-radius: 25px !important;
	padding: 10px 50px;
}
